.trustedBy {
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  .container {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: lightgray;
  }
  img {
    object-fit: contain;
  }
}
